/* Modal styles */
#modal {
  background-color: #ffffff;
  border-radius: 1.25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.modal__container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
}

.modal__content {
  background-color: #ffffff;
  border-radius: 1.25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid #c9c9c9;
  border-radius: 0.625rem;
  width: 85%;
  gap: 0.8rem;
  margin-bottom: 30px;
}

.modal__title {
  font-weight: 500;
}

.modal__subtitle {
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #c9c9c9;
}

.modal__input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#modal__input {
  /* font-size: 1.7rem; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.modal__button {
  background-color: var(--green-500);
  color: var(--color-white);
  border-radius: 10px;
}

#modal__close {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;
  color: #aaa;
  /* font-size: 1.7rem; */
  font-weight: bold;
}

#modal__close:hover,
#modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  #modal {
    width: 50%;
  }

  /* .modal__content {
    width: 85%;
    height: 30%;
  } */
  .modal__input-container {
    width: 100%;
    flex-direction: row;
    gap: 0;
  }
  #modal__input {
    width: 100%;
    /* font-size: 1.7rem; */
    border-radius: 8px 0 0 8px;
    flex-direction: row;
  }
  .modal__button {
    border-radius: 0 10px 10px 0;
  }
}
