/* ESTILIZAÇÃO DO CSS */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-header);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.56);
  height: 12vh;
  padding: 1rem;
  width: 100%;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.3rem;
  height: 100%;
  text-align: center;
  /* width: 100%; */
}

.header__logo {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-content: left; */
  gap: 1rem;
  width: 100%;
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.header__link {
  color: var(--color-white);
  text-decoration: none;
  /* font-size: 1.2rem; */
  padding: 0.8rem;
}

.image__logo {
  /* width: 100%; */
  height: 10vh;
}

/* .image__logo-desktop {
  display: none;
} */

.image__persona {
  width: 50px;
  height: 50px;
}

/* menu mobile */
.header__links--mobile {
  display: none;
}

.header__toggle {
  display: flex;
}

.header__toggle-icon::before {
  color: var(--color-white);
  font-size: 2rem;
}

.fa-arrow-left::before {
  color: var(--color-white);
  /* font-size: 2rem; */
}

.header__mobile-links {
  display: none;
}

.header__mobile-links--show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--color-header);
}

.header__mobile-link {
  display: flex;
  color: var(--color-white);
  width: 100%;
  justify-content: right;
  padding-right: 2rem;
  padding-bottom: unset;
  border-top: 0.1rem solid;
  clip-path: padding-box;
  align-items: center;
  height: 4vh;
}

.header__links--desktop {
  display: none;
}

/* .arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #dcf8c6;
  position: relative;
} */

/* For desktop: */
@media only screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .header__links--desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

  /* .header__logo {
    justify-content: space-between;
  } */

  .header__toggle {
    display: none;
  }

  .header__mobile-links {
    display: none;
  }
}
