.mobile-content {
  display: flex;
  flex-direction: column;
}

.desktop-content {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-content {
    display: none;
  }

  .desktop-content {
    display: block;
  }
}
