@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-background: #f8f8f8;
  --color-header: #1f2544;
  --color-white: #ffffff;
  --color-text-01: #374151;
  --color-description: #9ca3af;
  --color-line: #c9c9c9;

  --green-500: #428a6e;
  --green-600: #336e59;
  --green-700: #336e59;

  /* FONTS */
  --ff-roboto: "Roboto", serif;
  --base-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
}

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: #374151;
  background-color: var(--color-background);
  font-family: var(--ff-roboto);
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.error-container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-left {
  justify-content: left;
}
