:root {
  --color-background: #f8f8f8;
  --color-header: #1f2544;
  --color-white: #ffffff;
  --color-text-01: #374151;
  --color-description: #9ca3af;
  --color-line: #c9c9c9;

  --green-500: #428a6e;
  --green-600: #336e59;
  --green-700: #336e59;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: #374151;
  background-color: var(--color-background);
  /* font-weight: bold; */
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.error-container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
