/* Footer styles */
.footer {
  background-color: var(--color-header);
  color: #fff;
  text-align: center;
  height: 15vh;
  width: 100%;
}
.footer__text {
  /* font-size: 1.25rem; */
  padding-top: 1.25rem;
}

.container__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.social-icons__container {
  display: flex;
  justify-content: center;
}

.social-icons__link {
  color: #fff;
  margin-right: 0.62rem;
  text-decoration: none;
}

.footer__icon {
  /* font-size: 1.8rem; */
}
